/* Reset CSS via Eric Meyer (public domain)
http://meyerweb.com/eric/tools/css/reset/ 
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* typography */

h1 { font-size: 2em; }
h2 { font-size: 1.2em; }
h1, h2 { font-weight: bold; margin: 5px 0; }
p { font-size: 1em; margin: 5px 0; }
ul { padding-left: 10px; margin: 10px 0; list-style-type: disc; }
li { margin-left: 10px; padding-left: 10px; }

/* borders and whitespace */

header, article, aside, footer { border: 1px solid #111; padding: 10px 1em; margin: 0 5% 10px; }
header { margin-top: 10px; }


/* Body */

body {
	background-image: url("https://static.pexels.com/photos/2242/wall-sport-green-bike.jpg");
	background-color: #cccccc;
}


ul.sidenav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 15%;
	background-color: rgb(104, 83, 206);
	position: fixed;
	height: 100%;
	overflow: auto;
}

ul.sidenav li a{
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

ul.sidenav li a.active {
	background-color: #1d666b;
	color: white;
}

ul.sidenav li a:hover:not(.active) {
	background-color: #555;
	color: white;
}

div.content {
	margin-left: 25%;
	padding: 1px 16px;
	height: 1000px;
}

@media screen and (max-width: 900px) {
	ul.sidenav {
		width: 100%;
		height: auto;
		position: relative;
	}
	ul.sidenav li a {
		text-align: center;
		float: none;
	}
}

/* Footer */

footer {
	background-color: rgb(132, 133, 238);
}
